<script setup lang="ts">
// Modal vs Dialog: https://dev.to/iam_timsmith/dialogs-vs-modals-is-there-a-difference-210k
import Modal from "@/modal/Modal.vue";
import {ref} from "vue";

const modal = ref()
</script>

<template>
    <div class="h-full w-full flex items-center justify-center">

        <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700"
                @click="modal.toggle()">
            Open Modal
        </button>
        <Modal ref="modal">
            <h2 class="text-xl font-bold mb-4">Modal Title</h2>
            <p>This is some modal content. Click anywhere outside this box to close.</p>
            <button
                class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
                @click="modal.toggle()"
            >
                Close
            </button>
        </Modal>
    </div>
</template>

<style scoped>

</style>