<script setup lang="ts">
import {ref} from 'vue';

const isOpen = ref(false);
const toggle = () => isOpen.value = !isOpen.value
defineExpose({toggle})
</script>


<template>
    <transition name="fade">
        <div v-if="isOpen"
             class="fixed inset-0 backdrop-blur-sm bg-black bg-opacity-20 flex justify-center items-center"
             @click="toggle()">
            <div class="bg-white p-5 rounded-lg shadow-lg scale-100"
                 @click.stop
            >
                <slot />
            </div>
        </div>
    </transition>
</template>

<style scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity 150ms;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}
</style>

