<script setup lang="ts">
// https://blog.logrocket.com/build-off-canvas-menu-web-components/
import {ref} from "vue";


const isOpen = ref(false)
const toggle = () => isOpen.value = !isOpen.value
defineExpose({toggle})
</script>

<template>

    <!-- Hidden checkbox to control the drawer -->
    <input type="checkbox" class="drawer hidden" v-model="isOpen"/>

    <!-- Overlay -->
    <div @click="toggle"
         class="overlay fixed inset-0 bg-black bg-opacity-50 z-40 transition-all duration-300"
    />

    <!-- Drawer content -->
    <div
        class="drawer-content fixed right-0 top-0 w-[30vw] bg-white h-screen z-50
        transform translate-x-full transition-transform duration-300 ease-in-out"
    >
        <slot />
    </div>


</template>

<style scoped>
/* Additional styles to manage the drawer's transform */
.drawer:checked + .overlay {
    display: block;
}

.drawer:checked + .overlay + .drawer-content {
    transform: translateX(0);
}

.drawer:checked ~ .overlay {
    opacity: 0.5; /* Make the overlay visible */
    visibility: visible; /* Ensure the overlay is interactable */
}

.overlay {
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for opacity and visibility */
    opacity: 0; /* Start fully transparent */
    visibility: hidden; /* Start as non-interactable */
}
</style>