<script setup lang="ts">
import SideMenu from "@/sidemenu/SideMenu.vue";
import {ref} from "vue";

const sidemenu = ref()
</script>

<template>
    <div class="h-full w-full flex items-center justify-center">
        <SideMenu ref="sidemenu">
            <div class="block p-4 cursor-pointer" @click="sidemenu.toggle()">Close Drawer</div>
            <p class="p-4">Content of the drawer...</p>
        </SideMenu>

        <!-- Page content -->
        <div class="cursor-pointer py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700"
             @click="sidemenu.toggle()"
        >
            Open Drawer
        </div>
    </div>

</template>

<style scoped>

</style>