<script setup lang="ts">

import {IconSearch, IconSquareRoundedXFilled} from "@tabler/icons-vue";
import {ref} from "vue";

export interface Props {
    placeholder?: string
}

const props = withDefaults(defineProps<Props>(), {
    placeholder: () => "Search"
})
const searchString = defineModel("text", {required: true, type: String})
const searchInput = ref<HTMLInputElement | null>(null)

function resetSearchString() {
    searchString.value = ""
    searchInput.value?.focus()
}
</script>

<template>
    <div class="relative">
        <input
            ref="searchInput"
            type="text"
            class="pl-10 pr-10 h-11 border border-gray-300 rounded-full outline-2 outline-primary w-full"
            v-model="searchString"
            :placeholder="props.placeholder"
        />
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <IconSearch class="size-5 stroke-[3] text-gray-400"></IconSearch>
        </div>
        <div
            v-if="searchString.length > 0"
            class="absolute inset-y-0 right-0 pr-3 flex items-center"
        >
            <IconSquareRoundedXFilled
                class="size-6 text-gray-400 hover:text-primary"
                @click="resetSearchString"
                @mousedown="$event.preventDefault()"
            />
        </div>
    </div>
</template>

<style scoped>

</style>