<!-- Implementation based on https://web.dev/articles/drag-and-drop -->
<!-- Also useful: https://learnvue.co/articles/vue-drag-and-drop -->
<!-- draggable style https://stackoverflow.com/a/65008910 -->
<script setup lang="ts">
import {ref} from "vue";
import {IconCaretLeftRight} from '@tabler/icons-vue';
import {useDragDrop} from "@/item-drag-drop/dragdrop.ts";
import {dragDropItemList} from "@/item-drag-drop/dummyData.ts";

type ListItem = {
    id: string
    name: string
}

const items = ref<ListItem[]>(dragDropItemList)

const {
    draggedItemId,
    dragOverItemId,
    handleDragStart,
    handleDragEnd,
    handleDragEnter,
    handleDragLeave,
    handleDragOver,
    handleDrop
} = useDragDrop(items)

</script>

<template>
    <div class="h-full w-full flex justify-center items-center">
        <div class="bg-gray-300 rounded-md p-5 flex flex-row gap-4">
            <div
                v-for="item in items"
                :draggable="true"
                v-on:dragstart="handleDragStart(item)"
                v-on:dragend="handleDragEnd"
                v-on:dragover="handleDragOver"
                v-on:dragenter="handleDragEnter(item)"
                v-on:dragleave="handleDragLeave"
                v-on:drop="handleDrop($event, item)"
                :class="{
                    'ring-2 ring-green-500': item.id === dragOverItemId,
                    'opacity-40': item.id === draggedItemId,
                }"
                class="draggable-item group relative bg-white px-5 py-1 border-2 border-gray-400 rounded-md"
            >
                <button class="drag-item-button">
                    <IconCaretLeftRight class="w-6 h-6 stroke-[1.5]"/>
                </button>
                {{ item.name }}
            </div>
        </div>
    </div>
</template>

<style scoped lang="postcss">

.drag-item-button {
    @apply absolute hidden group-hover:block cursor-move rounded-full bg-primary text-white
    top-0 left-0 -translate-x-1/2 -translate-y-1/2
}
</style>