<script setup lang="ts">
import {useVirtualList} from '@vueuse/core'
import {computed, ref, watch} from "vue";
import {cpacs} from "@/virtual-list/dummyData.ts";
import Searchbar from "@/searchbar/Searchbar.vue";

const listItems = cpacs.data
const filterText = ref("")
const filteredItems = computed(
    () => listItems.filter((item) => item.toLowerCase().includes(filterText.value.toLowerCase()))
)
const {list, containerProps, wrapperProps, scrollTo} = useVirtualList(
    filteredItems,
    {
        itemHeight: 48,
        overscan: 10
    },
)

watch(filterText, () => {
    scrollTo(0)
})

</script>

<template>
    <div class="h-full w-full flex justify-center items-center ">
        <div class="flex flex-col w-[60vw] bg-slate-50 rounded-lg border-2 border-slate-400 shadow-lg">
            <div class="flex flex-col p-4 gap-4 bg-slate-100 rounded-t-lg">
                <div>
                    <div class="text-2xl font-bold">
                        Virtual List
                    </div>
                    <span class="text-gray-500 italic">
                        This list utilizes <a
                        class="hover:underline text-blue-700"
                        href="https://vueuse.org/core/useVirtualList/"
                    >
                        useVirtualList
                    </a> to efficiently scroll over large lists.
                    </span>
                </div>
                <Searchbar v-model:text="filterText"/>
            </div>

            <div class="overflow-x-scroll bg-slate-100">
                <div
                    v-bind="containerProps"
                    class="item-container h-[60vh] min-w-[calc(60vw-4px)] inline-block"
                >
                    <div v-bind="wrapperProps" class="item-wrapper">
                        <div
                            v-for="{index, data} in list"
                            :key="index"
                            class="h-12 hover:bg-orange-50 flex flex-row items-center px-8 text-nowrap bg-white"
                        >
                            {{ data }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-3 bg-slate-100 rounded-b-lg"/>
        </div>
    </div>
</template>

<style scoped>

.item-container {
    direction: rtl;
}

.item-wrapper {
    direction: ltr;
}

</style>