<script setup lang="ts" generic="T">
import {useVirtualList} from "@vueuse/core";
import {TreeNode} from "@/tree-view/types.ts";
import {computed, toRefs, watch} from "vue";
import {useNodeTree} from "@/tree-view/nodeTree.ts";
import {useNodeTreeFilter} from "@/tree-view/nodeTree.filter.ts";

const ITEM_HEIGHT = 40

type Props = {
    treeNodes: TreeNode[]
    selectedNodes: Set<string>
    filterText: string
    selectable: boolean
    editable: boolean
    showSelectedOnly?: boolean
}
const props = defineProps<Props>()
const {treeNodes, filterText, showSelectedOnly, selectedNodes} = toRefs(props)

const {
    flattenedNodes,
    collapsedNodes,
    toggleNodeCollapse,
    expandAll,
    collapseAll,
    selectedLeafNodes,
    selectedLeafCount,
    toggleNodeSelection,
    selfOrLeafSelected,
    getLeafCount,
    setNodesSelected,
    dragdrop
} = useNodeTree(treeNodes)

setNodesSelected(treeNodes.value, selectedNodes.value)

const emit = defineEmits(["select"])
watch(selectedLeafNodes.value, () => {
    emit("select", selectedLeafNodes.value)
})

const {filterNodesByText, filterSelectedNodes} = useNodeTreeFilter()

const listNodes = computed(() => {
    return showSelectedOnly.value ?
        filterNodesByText(filterText, filterSelectedNodes(selfOrLeafSelected, flattenedNodes)).value :
        filterNodesByText(filterText, flattenedNodes).value
})

const {list, containerProps, wrapperProps, scrollTo} = useVirtualList(
    listNodes,
    {
        itemHeight: ITEM_HEIGHT,
        overscan: 10
    },
)

// expose some functions to parent
type Exposed = {
    expandAll: () => void
    collapseAndToTop: () => void
}
defineExpose<Exposed>({expandAll, collapseAndToTop})

function collapseAndToTop() {
    // scroll to top when collapsing all nodes
    collapseAll()
    scrollTo(0)
}

watch(filterText, () => {
    // scrollbar moves to top when searching
    scrollTo(0)
})

watch(showSelectedOnly, () => {
    // scrollbar moves to top when toggling selected nodes only
    scrollTo(0)
})


</script>

<template>
    <div class="overflow-x-scroll bg-slate-100">
        <div
            v-bind="containerProps"
            class="item-container h-[60vh] min-w-[calc(60vw-4px)] inline-block"
        >
            <div v-bind="wrapperProps" class="item-wrapper">
                <slot
                    v-for="{index, data: node} in list"
                    :key="node.path"
                    :index="index"
                    :node="node"
                    :itemHeight="ITEM_HEIGHT"
                    :selectedLeafNodes="selectedLeafNodes"
                    :selfOrLeafSelected="selfOrLeafSelected(node)"
                    :toggleNodeSelection="toggleNodeSelection"
                    :selectedLeafCount="selectedLeafCount"
                    :collapsedNodes="collapsedNodes"
                    :toggleNodeCollapse="toggleNodeCollapse"
                    :getLeafCount="getLeafCount"
                    :dragdrop="dragdrop"
                />
            </div>
        </div>
    </div>
</template>

<style scoped>

.item-wrapper > * {
    height: 40px;
}

.item-container {
    direction: rtl;
}

.item-wrapper {
    direction: ltr;
}

</style>