<script setup lang="ts">
import {LeafNodePaths, CountByPath, TreeNode} from "@/tree-view/types.ts";
import {
    IconChevronDown,
    IconSquareRoundedCheck,
    IconClipboardCheck,
    IconSquareRoundedPlus,
    IconSquareRoundedCheckFilled,
    IconSquareRoundedMinusFilled,
    IconMenuOrder,
    IconPoint
} from "@tabler/icons-vue";
import {NodeTreeDragdrop} from "@/tree-view/nodeTree.dragdrop.ts";
import {computed, ref, toRefs} from "vue";
import {useTreeNode} from "@/tree-view/treeNode.ts";

const INDENT_FACTOR = 2

type Props = {
    index: number
    node: TreeNode
    itemHeight: number
    toggleNodeCollapse: (node: TreeNode) => void
    collapsedNodes: LeafNodePaths
    selectedLeafNodes: LeafNodePaths
    selfOrLeafSelected: boolean
    selectedLeafCount: CountByPath
    toggleNodeSelection: (node: TreeNode) => void
    getLeafCount: (node: TreeNode) => number
    dragDrop: NodeTreeDragdrop
    selectable: boolean
    editable: boolean
}

const props = defineProps<Props>()
const {node, dragDrop} = toRefs(props)
const treeItem = ref()

const {nodeIsLeaf, getNodeLevel} = useTreeNode()

const allDescendantsSelected = computed(() => {
    return props.selectedLeafNodes.has(node.value.path)
        || props.getLeafCount(node.value) === props.selectedLeafCount[node.value.path]
})

const someDescendantsSelected = computed(() => {
    return node.value.path in props.selectedLeafCount
})

const itemIndent = computed(() => {
    const nodeLevel = getNodeLevel(node.value)
    return INDENT_FACTOR + nodeLevel * INDENT_FACTOR
})

</script>

<template>
    <div
        ref="treeItem"
        :class="[
            dragDrop.dragOverNode.value?.path === node.path ? 'bg-emerald-50' :
            index % 2 == 0 ? 'bg-slate-50' : 'bg-white'
        ]"
        class="tree-item group flex flex-row items-center pr-8 text-nowrap hover:bg-orange-50"
        :style="{
            height: `${itemHeight}px`,
            paddingLeft: `${itemIndent}rem`
        }"
        @click="toggleNodeCollapse(node)"
        :draggable="false"
        v-on:dragstart="dragDrop.handleDragStart($event, node)"
        v-on:dragend="dragDrop.handleDragEnd"
        v-on:dragover="dragDrop.handleDragOver"
        v-on:dragenter="dragDrop.handleDragEnter(node)"
        v-on:dragleave="dragDrop.handleDragLeave(node)"
        v-on:drop="dragDrop.handleDrop($event, node)"
    >
        <IconPoint
            v-if="nodeIsLeaf(node)"
            class="item-bullet mr-2 size-5 stroke-2 text-slate-600 transition-transform duration-100"
        />
        <IconChevronDown
            v-else
            class="item-bullet mr-2 size-5 stroke-2 text-slate-600 transition-transform duration-100"
            :class="{'-rotate-90': collapsedNodes.has(node.path)}"
        />
        <span
            :class="[selfOrLeafSelected || !selectable ? 'text-slate-900 font-medium' : 'text-slate-500']"
            class="item-text mr-2 select-none"
        >
            {{ node.name }}
        </span>
        <div class="hidden group-hover:flex flex-row items-center">
            <div class="hidden group-hover:flex flex-row items-center gap-1">
                <IconSquareRoundedCheckFilled
                    v-if="selectable && allDescendantsSelected"
                    @click.stop="toggleNodeSelection(node)"
                    class="item-action-icon text-marked"
                />
                <IconSquareRoundedMinusFilled
                    v-else-if="selectable && someDescendantsSelected"
                    class="item-action-icon text-marked"
                    @click.stop="toggleNodeSelection(node)"
                />
                <IconSquareRoundedCheck
                    v-else-if="selectable"
                    class="item-action-icon text-slate-400 hover:text-marked"
                    @click.stop="toggleNodeSelection(node)"
                />
                <IconMenuOrder
                    v-if="editable && node.parent !== null"
                    class="drag-button item-action-icon text-slate-400 hover:text-marked"
                    @mousedown="treeItem.draggable = true"
                    @mouseup="treeItem.draggable = false"

                />
                <IconSquareRoundedPlus
                    v-if="editable"
                    class="item-action-icon text-slate-400 hover:text-marked"
                    @click.stop=""
                />
                <IconClipboardCheck
                    class="item-action-icon text-slate-400 hover:text-marked"
                    @click.stop=""
                />
            </div>
        </div>
    </div>
</template>

<style scoped>

.tree-item .item-bullet, .item-text {
    pointer-events: none;
}

.item-action-icon {
    @apply size-6 stroke-[1.6] hover:scale-110
}

</style>