<script setup lang="ts">
import {computed, Ref, ref} from 'vue'
import {cpacs} from "@/virtual-list/dummyData.ts";
import Searchbar from "@/searchbar/Searchbar.vue";
import {buildTree} from "@/tree-view/nodeTree.setup.ts";
import TreeItem from "@/tree-view/TreeItem.vue";
import {
    IconSquareRoundedChevronsUp,
    IconSquareRoundedChevronsDown,
    IconSquareRoundedPlus,
    IconSquareRoundedCheck,
    IconSquareRoundedCheckFilled,
    IconDeviceFloppy
} from "@tabler/icons-vue";
import ListTree from "@/tree-view/ListTree.vue";
import {LeafNodePaths, TreeNode} from "@/tree-view/types.ts";
import Toggle from "@/Toggle.vue";
import {isEqualSets} from "@/tree-view/util.ts";


const listTree = ref()  // used to access some list tree methods, e.g. expandAll
const treeNodes = ref<TreeNode[] | null>(null)
const filterText = ref("")

treeNodes.value = buildTree(cpacs.data)

const showSelectedOnly = ref(false)
const toggleShowSelectedOnly = () => showSelectedOnly.value = !showSelectedOnly.value

const editable = ref(true)
const selectable = ref(true)
const selectedNodes = ref(new Set([
    "cpacs/header/creator",
    "cpacs/header/description",
    "cpacs/header/name",
]))
const modSelection: Ref<LeafNodePaths> = ref(selectedNodes.value)

function userSelect(paths: LeafNodePaths) {
    modSelection.value = paths
}

const userSelectionModified = computed(() => {
    return !isEqualSets(modSelection.value, selectedNodes.value)
})

function saveSelectedMod() {
    selectedNodes.value = new Set(modSelection.value)
}

</script>

<template>
    <div class="h-full w-full flex justify-center items-center ">
        <div class="flex flex-col w-[60vw] bg-slate-50 rounded-lg border-2 border-slate-400 shadow-lg">
            <div class="flex flex-col p-4 gap-4 bg-slate-100 rounded-t-lg">
                <div class="flex flex-row justify-between">
                    <div>
                        <div class="text-2xl font-bold">
                            Tree View
                        </div>
                        <span class="text-gray-500 italic">
                        This tree view lets you select and collapse nodes. Under the hood, it uses <a
                            class="hover:underline text-blue-700"
                            href="https://vueuse.org/core/useVirtualList/"
                        >useVirtualList</a> for efficient scrolling.</span>
                    </div>
                    <div class="flex flex-col gap-1 select-none">
                        <Toggle label="Selectable" v-model="selectable"></Toggle>
                        <Toggle label="Editable" v-model="editable"></Toggle>
                    </div>
                </div>
                <div class="flex flex-row w-full items-center gap-3">
                    <div class="flex flex-row text-slate-500">
                        <button
                            class="hover:text-primary hover:scale-105
                            disabled:text-gray-300 disabled:pointer-events-none"
                            :disabled="userSelectionModified === false"
                        >
                            <IconDeviceFloppy
                                class="size-9 stroke-[1.3]"
                                @click="saveSelectedMod"
                            />
                        </button>
                    </div>
                    <Searchbar v-model:text="filterText" class="grow"></Searchbar>
                    <div class="flex flex-row text-slate-500">
                        <button
                            :disabled="!selectable"
                            class="hover:text-primary hover:scale-105
                            disabled:text-gray-300 disabled:pointer-events-none"
                            @click="toggleShowSelectedOnly()"
                        >
                            <IconSquareRoundedCheckFilled
                                v-if="showSelectedOnly"
                                class="size-9 stroke-[1.3]"
                            />
                            <IconSquareRoundedCheck
                                v-else
                                class="size-9 stroke-[1.3]"
                            />
                        </button>
                        <button
                            class="hover:text-primary hover:scale-105
                            disabled:text-gray-300 disabled:pointer-events-none"
                            @click="listTree.expandAll()"
                        >
                            <IconSquareRoundedChevronsDown
                                class="size-9 stroke-[1.3]"
                            />
                        </button>
                        <button
                            class="hover:text-primary hover:scale-105"
                            @click="listTree.collapseAndToTop()"
                        >
                            <IconSquareRoundedChevronsUp
                                class="size-9 stroke-[1.3]"

                            />
                        </button>
                        <button
                            :disabled="!editable"
                            class="hover:text-primary hover:scale-105
                            disabled:text-gray-300 disabled:pointer-events-none"
                        >
                            <IconSquareRoundedPlus
                                class="size-9 stroke-[1.3]"
                                @click=""

                            />
                        </button>
                    </div>
                </div>
            </div>
            <ListTree
                ref="listTree"
                v-if="treeNodes"
                v-slot="slotProps"
                :filter-text="filterText"
                :tree-nodes="treeNodes"
                :selected-nodes="selectedNodes"
                :editable="editable"
                :selectable="selectable"
                :show-selected-only="showSelectedOnly"
                @select="userSelect"
            >
                <TreeItem
                    :index="slotProps.index"
                    :node="slotProps.node"
                    :item-height="slotProps.itemHeight"
                    :toggle-node-collapse="slotProps.toggleNodeCollapse"
                    :selected-leaf-nodes="slotProps.selectedLeafNodes"
                    :toggle-node-selection="slotProps.toggleNodeSelection"
                    :self-or-leaf-selected="slotProps.selfOrLeafSelected"
                    :collapsed-nodes="slotProps.collapsedNodes"
                    :selected-leaf-count="slotProps.selectedLeafCount"
                    :get-leaf-count="slotProps.getLeafCount"
                    :selectable="selectable"
                    :editable="editable"
                    :drag-drop="slotProps.dragdrop"
                />
            </ListTree>
            <div class="h-3 bg-slate-100 rounded-b-lg"/>
        </div>
    </div>
</template>

<style scoped>
.treeview-button {
    @apply flex items-center justify-center size-11 hover:bg-slate-200 text-slate-600 hover:text-slate-800 border-slate-200
}

</style>