<script setup lang="ts">
import AppHeader from "@/AppHeader.vue";
</script>

<template>
    <div class="">
        <AppHeader class="h-20"/>
        <main class="w-screen h-[calc(100vh-5rem)] bg-slate-50">
            <RouterView/>
        </main>
    </div>
</template>
