<script setup lang="ts">

</script>

<template>
    <div class="w-screen bg-primary flex flex-row justify-between px-6 py-4 text-white items-center">
        <div class="flex flex-row gap-6">
            <span class="text-3xl font-bold">Vue Components</span>
            <button class="p-2 bg-white bg-opacity-15 rounded-md" @click="$router.push('/overview')">Back to overview</button>

        </div>
        <a href="https://codeberg.org/anpari/vue-components" target="_blank">
            <img src="@/assets/codeberg.svg" class="size-11" alt="">
        </a>
    </div>
</template>

<style scoped>

</style>