<script setup lang="ts">

const links = [
    {url: "/virtual-list", title: "Virtual List"},
    {url: "/tree-view", title: "Tree View"},
    {url: "/item-drag-and-drop", title: "Drag and Drop Items"},
    {url: "/sidemenu", title: "Side Menu"},
    {url: "/modal", title: "Modal"},
]

</script>

<template>
    <div class="p-4">
        <h1 class="text-2xl font-extrabold mb-3">Component Overview</h1>
        <ul>
            <li v-for="link in links" class="py-1 underline">
                <RouterLink :to=link.url>{{link.title}}</RouterLink>
            </li>
        </ul>
    </div>
</template>

<style scoped>

</style>