@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the scrollbar itself (light/dark mode example) */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: blue green;
}

/* Style for Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background-color: #e26d5c;
    border-radius: 20px;
    height: 35px;
}