<script setup lang="ts">


type Props = {
    label?: string
}
defineProps<Props>()
const checked = defineModel()


</script>

<template>
    <!--https://flowbite.com/docs/forms/toggle/-->
    <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" v-model="checked">
        <div
            class="relative w-9 h-5 after:size-4 bg-gray-400
            peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full
            rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-['']
            after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300
            after:border after:rounded-full after:transition-all
            peer-checked:bg-primary"
        />
        <span v-if="label" class="ms-3 text-sm font-medium text-gray-600 peer-checked:text-gray-900 transition-all">
            {{ label }}
        </span>
    </label>
</template>

<style scoped>

</style>